@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }

body {
  padding: 0;
  margin: 0;
  background-color: #06021c;
  background-color: #F4EBD9;
  color: black; }

.body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif; }

.heading-primary {
  font-family: "Lemon", cursive;
  font-weight: 400;
  color: #F4EBD9;
  text-align: center; }
  .heading-primary--main {
    font-size: 5rem;
    display: block;
    cursor: default;
    letter-spacing: .5rem; }

.heading-2 {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #F4EBD9;
  letter-spacing: .15rem;
  cursor: default;
  text-transform: lowercase; }

.heading-3 {
  font-size: 2.5rem;
  line-height: 4rem;
  color: #2c2627;
  font-family: "Public Sans", sans-serif;
  font-weight: 400; }
  .heading-3--feature {
    border-bottom: 2px solid #058ED9; }
  .heading-3--story {
    color: #F4EBD9; }

.btn {
  font-size: 2rem;
  text-decoration: none;
  text-transform: lowercase; }
  .btn--header-main {
    display: inline-block;
    padding: 1rem 2rem;
    color: #F4EBD9;
    background-color: #5a4f47;
    background-color: #5FAD56;
    width: max-content;
    text-align: center;
    transition: all .2s; }
    .btn--header-main:hover {
      background-color: #77685D;
      background-color: #396a33; }

.contact {
  background-color: #058ED9;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  padding: 10rem 0; }
  .contact__form {
    grid-column: center-start / center-end;
    background-image: linear-gradient(105deg, rgba(210, 205, 201, 0.9) 0%, rgba(210, 205, 201, 0.9) 50%, transparent 50%), url(../img/dogs.jpg);
    background-size: cover; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  color: #2c2627;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  width: 50%;
  margin: 2rem;
  margin-left: 5rem; }
  .form__group {
    position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: "Public Sans", sans-serif;
    color: #2c2627;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: #dddad7;
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #058ED9; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #77685D; }
    .form__input::-webkit-input-placeholder {
      color: #8c8076; }
  .form__label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    z-index: 1; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #058ED9;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #058ED9;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form__btn {
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    border: none;
    background-color: #5FAD56;
    color: #F4EBD9;
    font-size: 1.8rem;
    line-height: 1.8rem;
    cursor: pointer;
    transition: all .25s; }
    .form__btn:hover {
      background-color: #4b8c44; }

.pets {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.pet {
  background-color: #d2cdc9;
  color: #2c2627;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);
  font-family: "Public Sans", sans-serif; }
  .pet__image {
    grid-row: 1;
    grid-column: 1 / 3;
    width: 100%; }
  .pet__name {
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 2rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    cursor: default;
    width: 80%;
    margin: 0 auto;
    background-color: #058ED9;
    color: #F4EBD9;
    transform: translateY(-2rem); }
  .pet__detail {
    font-size: 1.6rem;
    padding: 2rem 1rem;
    cursor: default; }
    .pet__detail--1 {
      grid-row: 3;
      grid-column: 1 / 3; }
    .pet__detail--2 {
      grid-row: 3;
      grid-column: 2; }
    .pet__detail--3 {
      grid-row: 4; }
    .pet__detail--4 {
      grid-row: 4; }
  .pet__button {
    grid-row: 5;
    grid-column: 1 / 3;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    border: none;
    background-color: #5FAD56;
    color: #F4EBD9;
    font-size: 1.8rem;
    line-height: 1.8rem;
    cursor: pointer;
    transition: all .25s; }
    .pet__button:hover {
      background-color: #4b8c44; }

.features {
  grid-column: center-start / center-end;
  margin: 7.5rem 0;
  background-color: #F4EBD9; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content max-content;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #058ED9;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(2rem); }
  .feature__text {
    font-size: 1.7rem;
    color: #2c2627;
    transform: translateY(-1rem); }

.header-main {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(48, 179, 250, 0.7), rgba(3, 77, 117, 0.7)), url("../img/dog-01.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content min-content .7fr;
  grid-template-columns: minmax(6rem, 70%);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header-main {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header-main {
      padding: 5rem; } }
  .header-main__textbox {
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .header-main__icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #F4EBD9; }
  .header-main__icon {
    font-size: 5rem; }
    .header-main__icon:not(:last-child) {
      margin-right: 3rem; }

.story {
  color: #2c2627; }
  .story__videos {
    grid-column: full-start / col-end 4;
    background-color: #4b8c44;
    background-color: #058ED9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .story__videos {
        grid-column: 1 / -1; } }
    .story__videos video {
      width: 100%; }
  .story__content {
    grid-column: col-start 5 / full-end;
    background-color: #d2cdc9;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .story__content {
        grid-column: 1 / -1; } }
  .story__text {
    text-align: center;
    font-size: 3rem;
    font-family: "Nothing You Could Do", cursive; }
  .story__img {
    border-radius: 50%;
    margin: auto;
    border: 5px solid #F4EBD9;
    display: block; }

.home {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100vw;
  grid-template-rows: 60vh min-content 60vh min-content 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
