.story {
  color: $color-text-dark;

  &__videos {
    grid-column: full-start / col-end 4;
    background-color: $color-green-2;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    }

    & video {
      width: 100%;
    }
  }

  &__content{
    grid-column: col-start 5 / full-end;
    background-color: $color-grey-light-1;
    padding: 2rem;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    text-align: center;
    font-size: 3rem;
    font-family: $font-script;
    // color: $color-white;
  }

  &__img {
    border-radius: 50%;
    margin: auto;
    border: 5px solid $color-white;
    display: block;
  }
}